<div *ngIf="!loggedIn">
  <form (submit)="signIn($event)">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" [(ngModel)]="email" name="email" id="emailInput" class="form-control"/>
      <label class="form-label" for="emailInput">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" [(ngModel)]="pwd" name="pwd" id="pwdInput" class="form-control"/>
      <label class="form-label" for="pwdInput">Password</label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
  
  </form>
</div>
<div *ngIf="loggedIn">
  <h3> You are already logged in.</h3>
</div> 
